body {
    height: 90%;
    width: 90%;
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    background: -webkit-radial-gradient(orange, navy);
    display: flex;
    padding: 35px;
} 

.container {
    margin: auto;
    width: 85px;

}

header {
    width: 100%;
    height: 55px;
    background: whitesmoke;
    color: navy;
    text-align: center;
    line-height: 50px;
    font-size: 60px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    width: 100%;
    height: 40px;
}

.card {
    height: 100px;
    width: 100px;
    background-color: red;
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    /* display: grid; */
    transform: scale;
    transform-style: preserve-3d;
    position: relative;
}
/* .game-cards {
    width: 100%;
    background: white;
    padding: 150px;
    border-radius: 3px;
    box-shadow: 7px 8px 25px 0 navy;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 10px;
    color: black;
} */

.game-board {
    height: 400px;
    width: 400px;
    margin: auto;
    /* background: whitesmoke;
    color: black; */
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    /* box-shadow: 5px 2px 25px navy; */
}

footer {
    width: 100%;
    height: 30px;
    background: navy;
    color: darkgoldenrod;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}









.game-reset {
    font-size: 135px;
}